* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
    margin: 0;
}

header {
    background-color: #FF7F11;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}   

nav ul {
    width: 85vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
}

ul {
    padding: 30px 0; 
}

a {
    color: #F4EDED; 
    text-decoration: none;
    font-weight: bold; 
    font-size: 2em;
}

.section {
    display: flex;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

.box-content {
    align-self: flex-start; 
    text-align: left; 
    width: 100%;
    margin-bottom: 12px;
}

h1.box-content {
    font-size: 42px;
}

h2.box-content {
    font-size: 34px;
}

p.box-content {
    font-size: 20px;
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.box1 {
    padding-left: 100px;
}

.box2 {
    padding-right: 100px;
}

button {
    background-color: #FF7F11;
    color: #F4EDED;
    border: none;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover {
    background-color: #cc6600;
}

footer {
    background-color: #FF7F11;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 16px;
    font-weight: bold;
    color: #F4EDED;
}

footer > p {
    padding: 20px 0; 
}